@tailwind base;
@tailwind components;
@tailwind utilities;
@layer utilities {
    @variants responsive {
      /* Hide scrollbar for Chrome, Safari and Opera */
      .no-scrollbar::-webkit-scrollbar {
          display: none;
      }

      /* Hide scrollbar for IE, Edge and Firefox */
      .no-scrollbar {
          -ms-overflow-style: none;  /* IE and Edge */
          scrollbar-width: none;  /* Firefox */
      }
    }
  }
html{
    scroll-behavior: smooth;

}
.globalfont{
  font-family: "Space Grotesk", sans-serif;

}
.anchor{
    display: block;
    height: 50vh; /* 50% viewport height */
    margin-top: -50vh;
    visibility: hidden;
}

.checkbox {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  margin-right: 20px;
}

.checkbox input[type="checkbox"] {
  position: absolute;
  opacity: 0;
}

.checkbox-circle {
  position: relative;
  display: inline-block;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 2px solid #aaa;
  transition: all 0.3s;
}

.checkbox input[type="checkbox"]:checked ~ .checkbox-circle {
  background: #4CAF50;
  border-color: #4CAF50;
}

.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  fill: none;
  stroke: #fff;
  stroke-width: 3;
  stroke-linecap: round;
  stroke-linejoin: round;
  opacity: 0;
  transition: all 0.3s;
}

.checkbox input[type="checkbox"]:checked ~ .checkbox-circle .checkmark {
  opacity: 1;
}

.checkmark-circle {
  stroke-dasharray: 166;
  stroke-dashoffset: 166;
  transition: stroke-dashoffset 0.3s;
}

.checkbox input[type="checkbox"]:checked ~ .checkbox-circle .checkmark-circle {
  stroke-dashoffset: 0;
}

.checkmark-kick {
  stroke-dasharray: 50;
  stroke-dashoffset: 50;
  transition: stroke-dashoffset 0.3s;
}

.checkbox input[type="checkbox"]:checked ~ .checkbox-circle .checkmark-kick {
  stroke-dashoffset: 0;
}

.TextInput::placeholder{
  margin-left: 5rem;
}


@keyframes incWidth {
  0% {
    width: 5rem;
  }
  100% {
    width: 84%;
  }
}

.animationBtmCard:hover {
  animation-name: incWidth;
  animation-duration: .5s;
  animation-fill-mode: both;
  animation-timing-function: linear;
  
  animation-iteration-count:initial;
  cursor: pointer;
}


@keyframes RotateAnim {
  0% {
    rotate: 0rem;
  }
  100% {
    rotate: 90deg;
  }
}

.animationBtmCard:hover  .Btmarrow{
  animation-name: RotateAnim;
  animation-duration: .5s;
  animation-fill-mode: both;
  animation-timing-function: linear;
  
  animation-iteration-count:initial;
  cursor: pointer;
}

